body {
	font-family: Tahoma;
	font-size: 11px;
	color: #FFFFFF;
	/*background-color: #cccccc;*/
	
	background-color: #010E17;
	background-image: url(background_pm.gif);
	
	background-attachment: fixed;
	background-repeat: repeat-x;
	background-position: left top;
	margin: 0px;
	padding: 0px;
      }
	  
hr {
	height: 1px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-left-width: 0px;
	padding: 0px;
	margin-top: 1px;
	margin-right: 0px;
	margin-bottom: 2px;
	margin-left: 0px;
	border-bottom-width: 0px;
	background-color: #4A4A4A;
	color: #4A4A4A;
}
img{
	border:0
}

/*most for xpanel*/
.tablexpanel{
 border:1px solid #666;
 background-color:#002335;
}
.xpTitleColoum {color: #fff; font-family: Tahoma; font-weight: bold; text-align:center}

h1{font-size: 8pt; color: #FF8000;}
.div_left_ndot{ margin:-5px 0 -10px 0; padding-bottom:5px;}
.div_right_ndot{ padding:0; margin:-15px 0 -10px 0; }
.div_right_ndot ul { padding-top: 2px; line-height:10px;}
.div_right_ndot ul li{ padding-top:9px; font-size: 11px;}
.ndot{list-style:none;}
.float{float: left; }
.pret{margin-top:0px;padding:0 0 0 9px;}
.tdacc, .tdacchead{height:20px; padding:0 10px 0 6px;}
tr.tdacchead{background-color:#23354B;}
tr.tdacchead:hover{background-color:#43658F;}
.tdlog{height:25px; padding:0 0 0 6px; width:250px;}
ul{padding-left:2em;}
.spc{clear:both; height:5px;} 
/*--end. most for xpanel*/

.head_container{
	background-color: #0C2234;
	margin-top:-7px;
}

.tdheadolgo, .tdheadolgo h1 {
	height:60px;
	width:331px;
}
.tdheadolgo h1 {
	height:49px;
}

tr {font-family: Tahoma; font-size: 11px; line-height: 14.5px; color: #FFFFFF;}
tr.rowtitleChangemd5{background-color: #000000;}
tr.rowChangemd5{background-color: #005900;}
tr.rowChangemd5:hover{background-color: #002F17;}

td.txtmd5{font-family: monospace; font-size:11px;}

label{cursor:pointer;}

button,select,input {font-size: 8pt; color: #FFFFFF; font-family: Tahoma; }
input.text, input.password { background: transparent; color:#000000;}
input[type=text],input[type=password]{background-color: transparent; color: #FFFFFF;}

input[type=text]:focus, input[type=password]:focus, .text:focus, .password:focus  {
	background-color: #800000;
	color: #FFFFFF;
}
button,select,input[type=submit],input[type=button],input[type=reset]{background-color: #800000;}

.redtxtarea, .redtxtareadisable{font-size: 9pt; width:350px; font-family: monospace, verdana, Tahoma; width:400px;}
.redtxtarea{background-color: transparent; color: #FFFFFF;}
.redtxtarea:focus{background-color: #800000;}
.redtxtareadisable{background-color: #442222; color: #AAAAAA;}

/*-rs.premium-chk-*/
.tbl_acc{
  width:100%;
  border:1px solid #BCBCBC;
}
.tbl_acc td, .tbl_acc th{
 border:1px solid #BCBCBC; 
}
.tbl_acc td{
 padding:0 5px 0 5px;
 line-height:15px;
}
.tbl_acc #tr_acc_header{
 color: #fff; font-size: 9px;
 vertical-align:bottom;
 text-align:center;
 background-color:#000;
}
#validacc{
 width: 100%; height: 140px
}
.dv_acc_progress{
 border:#BBBBBB 1px solid; 
 width:300px; height:10px;
}
.dv_acc_progress #progress{
 background-color:#18f20d; margin:1px; height:8px;
}
.tbl_acc_log{
 width: 100%;
}

.a{color:yellow}
.b{color:red;text-decoration:blink}
.o{color:orange}
.g{color:#00FF00}
.c{color:#ccc}
.s{color:#FF8700}
.y {	color:#FFFF00;}
.r {	color:#FF0000;}
.n {	color:#0000D2;	}

.warn_alert{
  background:#800000;
  color:#ffffff;
  width:400px;
  font-weight:bold;
}

a{color: #55aaff;text-decoration: none;}
a:hover{text-decoration: underline;}

tr.rowlist a{color: #000000;background-color: transparent;}
tr.rowlist{cursor:pointer;height:20px;color: #000000;background-color: #D49659;}

tr.rowlist_checked a{color: #000000;background-color: transparent;}
tr.rowlist_checked{cursor:pointer;height:20px;color: #000000;background-color: #B1F4AE;}

tr.rowlist:hover, tr.rowlist_checked:hover, .refresh:hover{background-color: #FCC283;}
tr.rowlist:active, tr.rowlist_checked:active{background-color: #B1F4AE;}

select  {font-family: Tahoma; font-size: 11px;}

.acthistory_result, .acthistory_prompt{border:1px solid #C7A20C;}
div.acthistory_result{padding: 5px 2px 2px 2px;background: #3B5998;}
div.acthistory_prompt{padding: 1px 2px 2px 2px;background: transparent;}

div.acthistory_prompt .closer_btn{position:fixed; padding-bottom:5px;}
.closer_btn span{padding-left: 20px;font-weight:bold; margin-top:10px;}


/*Left Menu*/
td.left_mnu a div, td.backaudl a div{
 width: 107px; height: 25px;
}
td.left_mnu a div{
 padding-bottom:2px;
}
div#left_cpanel{ 
 background-position: 0 0;
}
div#left_plugin{
 background-position: -109px 0;
}
div#left_audl{
 background-position: -218px 0;
}
div#left_auul{
 background-position: -327px 0;
}
div#left_lynx{
 background-position: -320px 0;
}

.splugins{
 background-color:#657B87; 
 color:#eee; 
 padding:1px; 
 width:102px; 
 margin:-2px auto 3px 1px
}

/*MenuUtama*/
.menuUtama td{
 width: 77px; height: 31px;
 cursor: pointer;
}

#navcell1{ 
 background-position: 0px 0;
}
#navcell2{ 
 background-position: -77px 0;
}
#navcell3{ 
 background-position: -154px 0;
}
#navcell4{ 
 background-position: -231px 0;
}
#navcell5{ 
 background-position: -308px 0;
}

.tab-on, .tab-onr{
	border: 2px solid #85cbeb;
}

.tab-off, .tab-offr{
	border: 2px solid #17668C;
}

.show-table {display: block;}

.hide-table {display: none;}
.filelist_title{
 background-color:#4B433B; 
 color: white;
}

.title {
	font-size: 18px;
	font-weight: bold;
}
.subtitle {
  color: #3B5998;
  font-weight:bold;
}


/* tbl di lynx // serverfiles */
#filelist_title_head td{
 padding:3px;
}
#filelist_title_head td b:hover, .filelist_title td b:hover{
  text-decoration:underline;
}
.sorttable_nosort{
 text-decoration:none !important;
}

div#parentcontainer #dvrelease{
  margin-top:-13px;
  padding-bottom:3px;
}
#flheader, #flcontainer{
 width: 100%; white-space: nowrap;
}
#flcontainer {
 overflow: auto; 
}
#flheader td, #sffooter td{
 font-weight: bold;
 color: white; 
 text-align:center;
}
tr#sffooter{
 background-color:#4B433B; 
}

#flcontainer td{
 padding: 0 5px 0 5px;
}
#divcontainer{
 overflow: auto !important;
 width: 100%;
 border:1px solid #6C737D;
 padding: 3px;
}

#flist_match_search{
   background: white url(../../rs_search.png) no-repeat left center;
   padding-left:22px;
   background-color: transparent;
}
#flist_match_search:focus{
   background-color: #800000;
   color: #FFFFFF;
}

.pls_wait{
 color:#239FD9;
}
.loading{
 background-color:#800000;
}

.style1 {
	font-size: 12px;
	font-weight: bold;
}
.style2 {font-weight: bold}

.audlcontainer{
 border:1px solid #666;
 background-color:#002335;
}

#li { padding:2px 0; text-align:left; margin-left:5px; list-style:none; }

#act_hist_txt{
 cursor:pointer;
 text-decoration:none;
}
#act_hist_txt:hover{
 text-decoration:underline;
}

#act_hist_img{
 padding-left: 2px;
 vertical-align:bottom;
}

th {color: #FF8D1C; font-family: Tahoma;}

.acc_chk, .accnfo{color:#ffffff;}
tr.acc_chk{line-height: 10px;}
.acc_chk a{color:#FF8D1C; }

.accnfo {line-height: 9px; font-size: 9px;}

#lnksupport{
  text-align:center; 
  padding:3px; 
  color:#3B5998; 
  margin:0 auto; 
  width:400px; 
  font-size:9px; 
  height:50px;
  overflow:auto; 
  border:1px solid #666
}

.footer1{
  color:#F09D19;
}
.footer2{
  color:#239FD9;
}

.footer3{
  color:#EEEEEE;
}

/*button closer google*/
div.closer_btn{ cursor: pointer; margin:0; padding:0; width: 16px; height: 16px; line-height:10px;}
div.closer_btn:hover{ background-position: -17px 0;}

/*InstantRename-Button*/
#rename_container{
 width:38px;
}
.rename_es, .rename_es_save{ 
 float: right;
 height:17px;
 width: 17px;
}
div.rename_es_save {
 background-position: -17px 0;
}

/*progress bar*/
div.progressborder{
 border:#FFFFFF 1px solid; 
}
div.progressborder #progress {
 background-color:#88ECF4 !important; 
}
